@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .collectionContainer {
    @apply relative bg-amber-200 overflow-y-hidden flex rounded-lg cursor-pointer hover:shadow-lg hover:scale-95 transition-all duration-200 ease-in;
  }

  .collectionImage {
    @apply h-[120%] object-cover;
  }

  .categoryName {
    @apply absolute left-[60%] bottom-[15%];
  }

  .SectionName {
    @apply text-lg text-amber-600 font-semibold;
  }

  .collectionAction {
    @apply text-gray-500 text-lg cursor-pointer;
  }

  .priceCost {
    @apply flex items-center space-x-3 text-lg;
  }

  .priceCost > h3 {
    @apply text-gray-700;
  }

  .priceCost > p {
    @apply text-gray-800 font-medium;
  }

  .cardInput {
    @apply border border-gray-500 px-3 py-1 rounded-md outline-none
  }
}
