@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .collectionContainer {
    @apply relative bg-amber-200 overflow-y-hidden flex rounded-lg cursor-pointer hover:shadow-lg hover:scale-95 transition-all duration-200 ease-in;
  }

  .collectionImage {
    @apply h-[120%] object-cover;
  }

  .categoryName {
    @apply absolute left-[60%] bottom-[15%];
  }
}
